/* Sizing en algemene zaken */
html, body {
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;
}

textarea { 
    border: none; 
    box-shadow: #bbbbbb7a 0px 5px 7px;
}
input { 
    border: none; 
    box-shadow: #bbbbbb7a 0px 2px 5px;
}

.main-content {
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    /*box-shadow: #000000 0px 17px 23px; werkt niet op dark achtergrond */
    background-image: url('/kjdekker/media/corner-piece.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: #f8f8ff;
}

/* mobile version */

@media (max-width: 600px) {
    .main-content {
        padding: 20px;
    }

    

}

/* Kleuren en dergelijke */
body {
    background: linear-gradient(#0b1217, #517a96);
}

.bg-top {
    width:100%;
}

a {
    text-decoration: none;
    color: rgb(87, 84, 97);
}

a:hover {
    text-decoration: none;
    color: black;
}

.page-header {
    background-color: #517a96;
    font-size: 1.5rem;
    border-radius: 10px 10px 0px 0px;
    padding: 1px 5px;
    color: #f8f8ff;
    font-family: 'Montserrat', sans-serif;
}

/* Fonts */
.title h1 {
    font-family: 'Caveat', cursive;
    margin-bottom: 0;
    color:white;
}

#navigation a{
    color: #a7a7a7;
}

#navigation a:hover{
    color: white;
}

.title p {
    font-family: 'Caveat', cursive;
}

.hidden {
    display: none;
}

.main-content p {
    margin-bottom: 3rem;
}

/* Footer altijd aan de bodem */
.footer {
    margin-top:100px;
    color: #212530;
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    background-color: #f8f8ff;
}

.footer a {
    color: light-gray;
}

.footer, .page-wrap:after {
	height:25px;
}

/* Bootstrap overrides */
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

/* landing page visuele kunstwerkje canvas */

#landingGraphicsSVG {
    transition: all 0.2s;
    padding-top: 192px;
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: green;  ONLY USED FOR SIZING*/
}

.alt {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Animaties */
.content-holder {
    position: relative;
    top:-50px;
    animation: hide-nav;
    animation-delay:0s;
    animation-duration: 3s;
    transition: top 0.5s ease-in-out;
}

.small-tab {
    top: -50px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    padding-top: 2px;
    height: 20px;
    width: 55px;
    margin: 0 auto -12px auto;
    position: relative;
    background-color: lightgrey;
    z-index: -1;
    border-radius: 10px;
    animation: show-tab;
    animation-duration: 3s;
}

.small-tab hr {
    margin: 0px auto 2px auto;
    width: 50%;
    border: 0;
    border-top: 1px solid rgb(105, 105, 105);
}

@keyframes hide-nav {
    0% { top:0; } 50% { top:0; } 100% { top:-50px; }
}

@keyframes show-tab {
    0% { 
        margin: 0 auto -22px auto;
        top:12px;
    } 50% {
        margin: 0 auto -22px auto;
        top:12px;
    } 100% {
        margin: 0 auto -12px auto;
        top:-50px;
    }
}

.content-holder-alt {
    top: 0px;
}

.small-tab-alt { /* Jquery animation in main.js */
    margin: 0 auto -22px auto;
    top:12px;
}

/* Bootstrap re-writes */
.btn-outline-dark {
    color: #575461;
    background-color: transparent;
    background-image: none;
    border-color: #575461;
}

.btn-light:hover {
    background-color: #517a96;
    color:white;
}
